out/*
*.class
*.iml
**/.gradle
**/build
**/node_modules
**/.xml
**/.idea
**.pyc
**/*dll
**/*.exe
**/*.html
**/*.json
**/*.cache
**/*.txt
**/*.CopyComplete
**/*.pdb
**/*.targets
**/*.props
**/*.Assembly*
