node_modules
build
npm-debug.log
.env
.DS_Store
.vscode
**/*.dll
**/*.exe
**/*.pdb
**/*.txt
**/*.json
**/*.cache
**/*.targets
**/*.props
**/*.CopyComplete
**/*AssemblyAttributes.cs
**/*AssemblyInfo.cs